In [2]:
import pandas as pd
path = "C:/Users/Shri/Coding/Additional-Files/data-to-learn-import.xlsx"
df = pd.read_excel(path)
print(df)

    S.No     A   B   C     D   E  Length
0      1   2.0   1   5   3.0   4    45.0
1      2   4.0   3  10   6.0   8    43.0
2      3   6.0   5  15   9.0  12    66.0
3      4   8.0   7  20  12.0  16    78.0
4      5  10.0   9  25  15.0  20    32.0
5      6  12.0  11  30  18.0  24    12.0
6      7  14.0  13  35  21.0  28    54.0
7      8  16.0  15  40  24.0  32    67.0
8      9  18.0  17  45  27.0  36    77.0
9     10  20.0  19  50  30.0  40    89.0
10    11   NaN  21  55   NaN  44     NaN

In [5]:
# Numeric To Categorical
import numpy as np
bins = np.linspace(min(df["Length"]),max(df["Length"]),4) # linspace is used to determine evenly spaced sequence in  a specificied interval
# start, stop, no of samples.

In [6]:
group_names = ["Low","Medium","High"]

In [7]:
df["Length-binned"] = pd.cut(df["Length"],bins,labels = group_names, include_lowest = True)

In [8]:
df.head(5)

   S.No     A  B   C     D   E  Length Length-binned
0     1   2.0  1   5   3.0   4    45.0        Medium
1     2   4.0  3  10   6.0   8    43.0        Medium
2     3   6.0  5  15   9.0  12    66.0          High
3     4   8.0  7  20  12.0  16    78.0          High
4     5  10.0  9  25  15.0  20    32.0           Low

In [9]:
# Categorical To Numeric - One Hot Encoding
pd.get_dummies(df["Length"])

     12.0   32.0   43.0   45.0   54.0   66.0   67.0   77.0   78.0   89.0
0   False  False  False   True  False  False  False  False  False  False
1   False  False   True  False  False  False  False  False  False  False
2   False  False  False  False  False   True  False  False  False  False
3   False  False  False  False  False  False  False  False   True  False
4   False   True  False  False  False  False  False  False  False  False
5    True  False  False  False  False  False  False  False  False  False
6   False  False  False  False   True  False  False  False  False  False
7   False  False  False  False  False  False   True  False  False  False
8   False  False  False  False  False  False  False   True  False  False
9   False  False  False  False  False  False  False  False  False   True
10  False  False  False  False  False  False  False  False  False  False