In [1]:
import pandas as pd
path = "C:/Users/Shri/Coding/Additional-Files/auto_mpg.csv"
df = pd.read_csv(path)
print(df)

                                              Variable       Breakdown  \
0                             _01_Total_RD_Expenditure  ANZSIC_1_Digit
1                             _01_Total_RD_Expenditure  ANZSIC_1_Digit
2                             _01_Total_RD_Expenditure  ANZSIC_1_Digit
3                             _01_Total_RD_Expenditure  ANZSIC_1_Digit
4                             _01_Total_RD_Expenditure  ANZSIC_1_Digit
...                                                ...             ...
48866  _95_Total_RD_Expenditure_as_a_proportion_of_GDP         Country
48867  _95_Total_RD_Expenditure_as_a_proportion_of_GDP         Country
48868  _95_Total_RD_Expenditure_as_a_proportion_of_GDP         Country
48869  _95_Total_RD_Expenditure_as_a_proportion_of_GDP         Country
48870  _95_Total_RD_Expenditure_as_a_proportion_of_GDP         Country

                        Breakdown_category  Year RD_Value Status  \
0      A_Agriculture, Forestry and Fishing  2016       91    NaN
1      A_Agriculture, Forestry and Fishing  2018       89    NaN
2      A_Agriculture, Forestry and Fishing  2019      ...    NaN
3      A_Agriculture, Forestry and Fishing  2020       99    NaN
4      A_Agriculture, Forestry and Fishing  2021      ...    NaN
...                                    ...   ...      ...    ...
48866                        United States  2019     3.14    NaN
48867                        United States  2020     3.42    NaN
48868                        United States  2021     3.47    NaN
48869                        United States  2022     3.49    NaN
48870                        United States  2023     3.45    NaN

                        Unit  Footnotes Relative_Sampling_Error
0      NZ Dollars (millions)         12                    23.8
1      NZ Dollars (millions)         12                    51.7
2      NZ Dollars (millions)         12                     ...
3      NZ Dollars (millions)         12                    30.2
4      NZ Dollars (millions)         12                     ...
...                      ...        ...                     ...
48866      Percentage of GDP  33 and 34                      ..
48867      Percentage of GDP  33 and 34                      ..
48868      Percentage of GDP  33 and 34                      ..
48869      Percentage of GDP  33 and 34                      ..
48870      Percentage of GDP  33 and 34                      ..

[48871 rows x 9 columns]

#### - head is used to view the starting rows of the file

In [2]:
df.head(5)

,Variable,Breakdown,Breakdown_category,Year,RD_Value,Status,Unit,Footnotes,Relative_Sampling_Error
0,_01_Total_RD_Expenditure,ANZSIC_1_Digit,"A_Agriculture, Forestry and Fishing",2016,91,NaN,NZ Dollars (millions),12,23.8
1,_01_Total_RD_Expenditure,ANZSIC_1_Digit,"A_Agriculture, Forestry and Fishing",2018,89,NaN,NZ Dollars (millions),12,51.7
2,_01_Total_RD_Expenditure,ANZSIC_1_Digit,"A_Agriculture, Forestry and Fishing",2019,...,NaN,NZ Dollars (millions),12,...
3,_01_Total_RD_Expenditure,ANZSIC_1_Digit,"A_Agriculture, Forestry and Fishing",2020,99,NaN,NZ Dollars (millions),12,30.2
4,_01_Total_RD_Expenditure,ANZSIC_1_Digit,"A_Agriculture, Forestry and Fishing",2021,...,NaN,NZ Dollars (millions),12,...

#### - tail is used for last 5 rounds.

In [3]:
df.tail(5)

,Variable,Breakdown,Breakdown_category,Year,RD_Value,Status,Unit,Footnotes,Relative_Sampling_Error
48866,_95_Total_RD_Expenditure_as_a_proportion_of_GDP,Country,United States,2019,3.14,NaN,Percentage of GDP,33 and 34,..
48867,_95_Total_RD_Expenditure_as_a_proportion_of_GDP,Country,United States,2020,3.42,NaN,Percentage of GDP,33 and 34,..
48868,_95_Total_RD_Expenditure_as_a_proportion_of_GDP,Country,United States,2021,3.47,NaN,Percentage of GDP,33 and 34,..
48869,_95_Total_RD_Expenditure_as_a_proportion_of_GDP,Country,United States,2022,3.49,NaN,Percentage of GDP,33 and 34,..
48870,_95_Total_RD_Expenditure_as_a_proportion_of_GDP,Country,United States,2023,3.45,NaN,Percentage of GDP,33 and 34,..

In [5]:
df.to_csv(path) # Save file

In [6]:
df.dtypes

Variable                   object
Breakdown                  object
Breakdown_category         object
Year                        int64
RD_Value                   object
Status                     object
Unit                       object
Footnotes                  object
Relative_Sampling_Error    object
dtype: object

#### Object represent number in strings, int64 for integers.

In [7]:
df.describe() # Helps us to get a statistical summary.

               Year
count  48871.000000
mean    2020.345460
std        2.496032
min     2016.000000
25%     2018.000000
50%     2020.000000
75%     2022.000000
max     2024.000000

In [8]:
df.describe(include="all") # Full summary statistics.

,Variable,Breakdown,Breakdown_category,Year,RD_Value,Status,Unit,Footnotes,Relative_Sampling_Error
count,48871,48871,48871,48871.000000,48847,503,48847,48847,48847
unique,130,7,97,NaN,1431,1,5,190,1836
top,_94_Higher_Education_Sector_RD_Expenditure_as_...,ANZSIC_1_Digit,"A_Agriculture, Forestry and Fishing",NaN,...,R,NZ Dollars (millions),6 and 13 and 28,...
freq,377,16128,1008,NaN,22394,503,20304,4232,22385
mean,NaN,NaN,NaN,2020.345460,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,2.496032,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,2016.000000,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,2018.000000,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,2020.000000,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,2022.000000,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,2024.000000,NaN,NaN,NaN,NaN,NaN

### count is no. of content. Unique is number of distinct objects in column, NaN is not a number.