In [1]:
import pandas as pd
path = "C:/Users/Shri/Coding/Additional-Files/data-to-learn-import.xlsx"
df = pd.read_excel(path)
print(df)

    S.No     A   B   C     D   E  Length
0      1   2.0   1   5   3.0   4    45.0
1      2   4.0   3  10   6.0   8    43.0
2      3   6.0   5  15   9.0  12    66.0
3      4   8.0   7  20  12.0  16    78.0
4      5  10.0   9  25  15.0  20    32.0
5      6  12.0  11  30  18.0  24    12.0
6      7  14.0  13  35  21.0  28    54.0
7      8  16.0  15  40  24.0  32    67.0
8      9  18.0  17  45  27.0  36    77.0
9     10  20.0  19  50  30.0  40    89.0
10    11   NaN  21  55   NaN  44     NaN

### SIMPLE FEATURE SCALING METHOD

In [2]:
df["Length"] = df["Length"] / df["Length"].max()

In [3]:
df.head(5)

   S.No     A  B   C     D   E    Length
0     1   2.0  1   5   3.0   4  0.505618
1     2   4.0  3  10   6.0   8  0.483146
2     3   6.0  5  15   9.0  12  0.741573
3     4   8.0  7  20  12.0  16  0.876404
4     5  10.0  9  25  15.0  20  0.359551

### MIN-MAX METHOD

In [5]:
df["Length"] = (df["Length"] - df["Length"].min()) / (df["Length"].max() - df["Length"].min())

In [6]:
df.head(5)

   S.No     A  B   C     D   E    Length
0     1   2.0  1   5   3.0   4  0.428571
1     2   4.0  3  10   6.0   8  0.402597
2     3   6.0  5  15   9.0  12  0.701299
3     4   8.0  7  20  12.0  16  0.857143
4     5  10.0  9  25  15.0  20  0.259740

### Z-Score Method

In [8]:
df["Length"] = (df["Length"] - df["Length"].mean()) / df["Length"].std()

In [9]:
df.head(5)

   S.No     A  B   C     D   E    Length
0     1   2.0  1   5   3.0   4 -0.477507
1     2   4.0  3  10   6.0   8 -0.562022
2     3   6.0  5  15   9.0  12  0.409896
3     4   8.0  7  20  12.0  16  0.916983
4     5  10.0  9  25  15.0  20 -1.026852