In [2]:
import pandas as pd
path = "C:/Users/Shri/Coding/Additional-Files/data-to-learn-import.xlsx"
df = pd.read_excel(path)
print(df)

    S.No     A   B   C     D   E  Length
0      1   2.0   1   5   3.0   4    45.0
1      2   4.0   3  10   6.0   8    43.0
2      3   6.0   5  15   9.0  12    66.0
3      4   8.0   7  20  12.0  16    78.0
4      5  10.0   9  25  15.0  20    32.0
5      6  12.0  11  30  18.0  24    12.0
6      7  14.0  13  35  21.0  28    54.0
7      8  16.0  15  40  24.0  32    67.0
8      9  18.0  17  45  27.0  36    77.0
9     10  20.0  19  50  30.0  40    89.0
10    11   NaN  21  55   NaN  44     NaN

In [3]:
df.describe()

,S.No,A,B,C,D,E,Length
count,11.000000,10.000000,11.00000,11.000000,10.000000,11.000000,10.000000
mean,6.000000,11.000000,11.00000,30.000000,16.500000,24.000000,56.300000
std,3.316625,6.055301,6.63325,16.583124,9.082951,13.266499,23.664554
min,1.000000,2.000000,1.00000,5.000000,3.000000,4.000000,12.000000
25%,3.500000,6.500000,6.00000,17.500000,9.750000,14.000000,43.500000
50%,6.000000,11.000000,11.00000,30.000000,16.500000,24.000000,60.000000
75%,8.500000,15.500000,16.00000,42.500000,23.250000,34.000000,74.500000
max,11.000000,20.000000,21.00000,55.000000,30.000000,44.000000,89.000000

#### VALUE COUNTS - Counting each value in the column.

In [4]:
index = pd.Index(df["Length"])

In [5]:
index.value_counts()

Length
45.0    1
43.0    1
66.0    1
78.0    1
32.0    1
12.0    1
54.0    1
67.0    1
77.0    1
89.0    1
Name: count, dtype: int64