In [9]:
import pandas as pd
path = "C:/Users/Shri/Coding/Additional-Files/data-to-learn-import.xlsx"
df = pd.read_excel(path)
print(df)

    S.No     A   B   C     D   E  Length
0      1   2.0   1   5   3.0   4      45
1      2   4.0   3  10   6.0   8      43
2      3   6.0   5  15   9.0  12      66
3      4   8.0   7  20  12.0  16      78
4      5  10.0   9  25  15.0  20      32
5      6  12.0  11  30  18.0  24      12
6      7  14.0  13  35  21.0  28      54
7      8  16.0  15  40  24.0  32      67
8      9  18.0  17  45  27.0  36      77
9     10  20.0  19  50  30.0  40      89
10    11   NaN  21  55   NaN  44      45

In [10]:
import numpy as np
grp = df.groupby("A")
grp.aggregate(np.sum)

C:\Users\Shri\AppData\Local\Temp\ipykernel_10744\1725624464.py:3: FutureWarning: The provided callable <function sum at 0x000002C4ED597A60> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  grp.aggregate(np.sum)

      S.No   B   C     D   E  Length
A
2.0      1   1   5   3.0   4      45
4.0      2   3  10   6.0   8      43
6.0      3   5  15   9.0  12      66
8.0      4   7  20  12.0  16      78
10.0     5   9  25  15.0  20      32
12.0     6  11  30  18.0  24      12
14.0     7  13  35  21.0  28      54
16.0     8  15  40  24.0  32      67
18.0     9  17  45  27.0  36      77
20.0    10  19  50  30.0  40      89

In [11]:
grp = df.groupby(["A","B"])
grp.aggregate(np.sum)

C:\Users\Shri\AppData\Local\Temp\ipykernel_10744\739679200.py:2: FutureWarning: The provided callable <function sum at 0x000002C4ED597A60> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  grp.aggregate(np.sum)

         S.No   C     D   E  Length
A    B
2.0  1      1   5   3.0   4      45
4.0  3      2  10   6.0   8      43
6.0  5      3  15   9.0  12      66
8.0  7      4  20  12.0  16      78
10.0 9      5  25  15.0  20      32
12.0 11     6  30  18.0  24      12
14.0 13     7  35  21.0  28      54
16.0 15     8  40  24.0  32      67
18.0 17     9  45  27.0  36      77
20.0 19    10  50  30.0  40      89

In [12]:
# Spaces are adjusted.
grp = df.groupby(["A","B"], as_index = False)
grp.aggregate(np.sum)

C:\Users\Shri\AppData\Local\Temp\ipykernel_10744\4151139760.py:3: FutureWarning: The provided callable <function sum at 0x000002C4ED597A60> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  grp.aggregate(np.sum)

      A   B  S.No   C     D   E  Length
0   2.0   1     1   5   3.0   4      45
1   4.0   3     2  10   6.0   8      43
2   6.0   5     3  15   9.0  12      66
3   8.0   7     4  20  12.0  16      78
4  10.0   9     5  25  15.0  20      32
5  12.0  11     6  30  18.0  24      12
6  14.0  13     7  35  21.0  28      54
7  16.0  15     8  40  24.0  32      67
8  18.0  17     9  45  27.0  36      77
9  20.0  19    10  50  30.0  40      89

In [13]:
grp.size()

      A   B  size
0   2.0   1     1
1   4.0   3     1
2   6.0   5     1
3   8.0   7     1
4  10.0   9     1
5  12.0  11     1
6  14.0  13     1
7  16.0  15     1
8  18.0  17     1
9  20.0  19     1

In [14]:
grp.count()

      A   B  S.No  C  D  E  Length
0   2.0   1     1  1  1  1       1
1   4.0   3     1  1  1  1       1
2   6.0   5     1  1  1  1       1
3   8.0   7     1  1  1  1       1
4  10.0   9     1  1  1  1       1
5  12.0  11     1  1  1  1       1
6  14.0  13     1  1  1  1       1
7  16.0  15     1  1  1  1       1
8  18.0  17     1  1  1  1       1
9  20.0  19     1  1  1  1       1

In [16]:
l = [['apple',1],['apple',2],['apple',2],['ball',1],['ball',1]]
df_10 = pd.DataFrame(l, columns = ["A","B"])
print(df_10)

       A  B
0  apple  1
1  apple  2
2  apple  2
3   ball  1
4   ball  1

In [18]:
df_10.groupby("A")["B"].nunique()

A
apple    2
ball     1
Name: B, dtype: int64