In [1]:
import pandas as pd
path = "C:/Users/Shri/Coding/Additional-Files/data-to-learn-import.xlsx"
df = pd.read_excel(path)
print(df)

    S.No     A   B   C     D   E  Length
0      1   2.0   1   5   3.0   4      45
1      2   4.0   3  10   6.0   8      43
2      3   6.0   5  15   9.0  12      66
3      4   8.0   7  20  12.0  16      78
4      5  10.0   9  25  15.0  20      32
5      6  12.0  11  30  18.0  24      12
6      7  14.0  13  35  21.0  28      54
7      8  16.0  15  40  24.0  32      67
8      9  18.0  17  45  27.0  36      77
9     10  20.0  19  50  30.0  40      89
10    11   NaN  21  55   NaN  44      45

In [2]:
df_20 = pd.DataFrame({'S.No' : [1,2,3,4,5], 'A' : ['apple','ant','ankle','air','arm'], 
                     'B' : ['ball', 'bat', 'bear', 'ballon', 'boy'], 'C': ['cat','cake','car','cow','coat'], 'D': ['dog','duck','doll','deer','drum']})
print(df_20)

   S.No      A       B     C     D
0     1  apple    ball   cat   dog
1     2    ant     bat  cake  duck
2     3  ankle    bear   car  doll
3     4    air  ballon   cow  deer
4     5    arm     boy  coat  drum

In [3]:
df_20.pivot(index = 'A', columns = 'B', values = 'C')

B     ball ballon   bat bear   boy
A
air    NaN    cow   NaN  NaN   NaN
ankle  NaN    NaN   NaN  car   NaN
ant    NaN    NaN  cake  NaN   NaN
apple  cat    NaN   NaN  NaN   NaN
arm    NaN    NaN   NaN  NaN  coat

In [4]:
df_20.pivot(index = "S.No", columns = 'A')['B']

A        air ankle  ant apple  arm
S.No
1        NaN   NaN  NaN  ball  NaN
2        NaN   NaN  bat   NaN  NaN
3        NaN  bear  NaN   NaN  NaN
4     ballon   NaN  NaN   NaN  NaN
5        NaN   NaN  NaN   NaN  boy

In [7]:
%autosave 1

Autosaving every 1 seconds

In [9]:
df_20.pivot(index = 'S.No', columns = 'A', values = ['B','C'])

           B                          C
A        air ankle  ant apple  arm  air ankle   ant apple   arm
S.No
1        NaN   NaN  NaN  ball  NaN  NaN   NaN   NaN   cat   NaN
2        NaN   NaN  bat   NaN  NaN  NaN   NaN  cake   NaN   NaN
3        NaN  bear  NaN   NaN  NaN  NaN   car   NaN   NaN   NaN
4     ballon   NaN  NaN   NaN  NaN  cow   NaN   NaN   NaN   NaN
5        NaN   NaN  NaN   NaN  boy  NaN   NaN   NaN   NaN  coat